@import url('https://fonts.googleapis.com/css2?family=Roboto&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Roboto+Slab:wght@500&display=swap');

/* START OF CSS for all backgrounds for different pages  */

.body {
    background-image: url('Images/mandalorian\ bg.jpg');
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: cover;
}

.clonewars-body {
    background-image: url('Images/carousel\ pic2.jpg');
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: cover;
}

.mandalorian-body {
    background-image: url('Images/carousel\ pic1.jpg');
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: cover;
}

.game-body {
    background-image: url('Images/game\ bg.jpg');
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: cover;
}

.films-body {
    background-image: url('Images/films\ bg.jpg');
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: cover;
}

/* END OF CSS for all backgrounds for different pages  */

/* START of Home Page CSS */

.flexbox {
    display:flex;
    flex-direction: row;
    background-color:black;
    opacity: 0.9;
    margin-top:50px;
    margin-left: 50px;
    max-width: 1100px;
    border: 12px solid black;
    
}

.introBox {
    
    margin-left: 800px;
    position:absolute;
    display:flex;
    overflow: hidden;
    max-width: 300px;
    
    
}

.intro {
    color: white;
    font-size:23px;
    font-family:roboto;
    padding: 20px;
    max-width:300px;
    
}

.carousel {
    max-width:800px;
    
}

.heading2 {
    color:white;
    margin-left:50px;
    margin-top:20px;
    margin-bottom:-40px;
    
}



.flexbox2,
.accordion-flexbox {
    display:flex;
    flex-direction: row;
}

.card {
    margin-left: 50px;
    margin-top: 50px;
    border: 12px solid black;
    
}

.flexbox3 {
    display:flex;
    flex-direction:row;
    margin-left:50px;
    
}

.search-intro {
    color:white;
    font-size:25px;
    max-width:500px;
    margin-top:50px;
    background-color:rgb(61, 60, 60);
    border:solid 6px black;
    max-height:300px;
    padding:10px;
}

.search-title {
    margin-left:60px;
    margin-bottom:-50px;
    
    color:white;
}

.search-flexbox1 {
    margin:50px;
    border:solid 6px black;
    padding:10px;
    min-width:350px;
    background-color:rgb(61, 60, 60);
}

.search-innerflexbox-1,
.search-innerflexbox-2,
.search-innerflexbox-3 {
    display:flex;
    flex-direction:row;
}

.input,
.submit-btn {
    min-height:35px;
}

/* END of Home Page CSS */

/* START of Clone Wars Page CSS */

.clonewars-title,
.mandalorian-title {
    margin-left:50px;
    margin-top:20px;
    margin-bottom:-40px;
    
    color:white;
    font-size:40px;
    max-width:960px;
}

.clonewars-video {
    margin:50px;
    margin-left:50px;
    border:solid 8px rgb(61, 60, 60);
    overflow:hidden;
    min-width:960px;
}

.clonewars-flexbox1 {
    display:flex;
    flex-direction: row;
}

.clonewars-intro {
    background-color:black;
    color:white;
    margin:50px;
    margin-left:-50px;
}

.clonewars-intro-content {
    margin:20px;
    font-size:27px;
    font-family: Roboto;
    max-width:350px;
}

/* END of Clone Wars Page CSS */

/* START of Mandalorian Page CSS */

.mandalorian-video {
    margin:50px;
    margin-left:50px;
    border:solid 8px rgb(0, 0, 0);
    overflow:hidden;
}

.mandalorian-flexbox1 {
    display:flex;
    flex-direction:row-reverse;
    margin-right:30px;
}

.mandalorian-flexbox1-inner {
    display:flex;
    flex-direction:column;
    background-color:black;
    margin:50px;
    min-width:400px;
    max-height:550px;
    margin-right:-50px;
}

.mandalorian-logo {
    max-width:400px;
    max-height:200px;
    margin-top:50px;
    margin-right:-50px;
    
}

.mandalorian-intro {
    max-width:300px;
    background-color:black;
    color:white;
    margin-left:50px;
    margin-top:20px;
    font-size:22px;
    text-align:left;
}

.baby-yoda-picture {
    max-width:250px;
}

.mandalorian-flexbox2 {
    display:flex;
    flex-direction:row;
    
}

.mandalorian-flexbox2-inner {
    display:flex;
    flex-direction:column
}

.mandalorian-flexbox3 {
    display:flex;
    flex-direction:row;
}

/* END of Mandalorian Page CSS */

/* START of Video Games Page CSS */


.game-flexbox1 { 
    display:flex;
    flex-direction:row;
    margin:50px;
    max-width:1300px;
    
}

.videogame-logo-1 {
    max-width:300px;
    max-height:200px;
    margin-left:30px;
    
}

.game-innerflexbox-1 {
    display:flex;
    flex-direction:column;
    background-color:white;
    max-width:400px;
    padding:10px;
    border:solid 10px black;
    background-color:rgb(61, 60, 60);
    
}

.game-intro {
    padding:10px;
    font-family:roboto;
    font-size:24px;
    color:black;
}

.game-icon1 {
    max-width:400px;
    border:10px solid black;
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 50%;
    border-radius:15px;
}

.game-flexbox2 {
    display:flex;
    flex-direction:row;
    justify-content:center;
}

.game-innerflexbox2-1{
    display:flex;
    flex-direction:column;
    color:white;
    margin:50px;
}

.game-innerflexbox2-2 {
    display:flex;
    flex-direction:column;
    min-width:200px;
    color:white;
    margin:50px;
}

.game-innerflexbox2-3 {
    display:flex;
    flex-direction:column;
    margin:50px;
    color:white;
}

.game-innerflexbox2-1-content {
    max-width:700px;
    text-align:center;
    font-size:24px;
    max-width:400px;
    
}

.game-innerflexbox2-2-content,
.game-innerflexbox2-3-content {
    max-width:400px;
    text-align:center;
    font-size:24px;
    max-width:400px;
}

.game-heading1,
.game-heading2,
.game-heading3 {
    text-align:center;
}

.game-divider1 {
    background-color:rgb(61, 60, 60);
    font-family:roboto;
    font-size:45px;
    text-align:center;
    color:white;
    
}

.game-flexbox3 {
    display:flex;
    flex-direction:row;
}

.game-planetsearch-title {
    font-size:roboto;
    margin:50px;
    margin-top:20px;
    color:white;
}

.game-innerflexbox3-1 {
    display:flex;
    flex-direction:column;
    
}

.game-planetsearch-intro {
    color:white;
    padding:10px;
    max-width:400px;
    font-size:24px;
    background-color:rgb(61, 60, 60);
    border:5px solid black;
    margin-left:45px;
    margin-top:-10px;
}

.game-innerflexbox3-2 {
    display:flex;
    flex-direction:column;
    background-color:rgb(61, 60, 60);
    margin:50px;
    padding:10px;
    border:5px solid black;
    min-width:400px;
    margin-top:100px;
}

.game-innerflexbox3-2-1 {
    display:flex;
    flex-direction:row;
}

.game-innerflexbox3-3 {
    display:flex;
    flex-direction:column;
    background-color:rgb(61, 60, 60);
    padding:10px;
    border:5px solid black;
    min-width:400px;
    min-height:185px;
    margin-top:100px;
    
}

/* END of Video Games Page CSS */

/* START of Films Page CSS */

.films-heading {
    color:white;
    margin:30px;
    text-align:center;
}

.films-flexbox1 {
    display:flex;
    flex-direction:row;
}

.films-picture1 {
    max-width:900px;
    border:10px solid black;
    margin:50px;
}

.films-innerflexbox1 {
    display:flex;
    flex-direction: column;
}

.films-intro1 {
    color:white;
    max-width:350px;
    font-size:23px;
    font-family:roboto;
}

.film-divider1 {
    background-color:rgb(61, 60, 60);
    font-family:roboto slab;
    font-size:45px;
    text-align:center;
    color:white;
}

.films-flexbox2 {
    display:flex;
    flex-direction:row-reverse;
}

.films-picture2 {
    max-width:900px;
    border:10px solid black;
    margin:50px;
}

.films-intro2 {
    color:white;
    max-width:350px;
    font-size:24px;
    font-family:roboto;
}

.films-intro3 {
    color:white;
    max-width:350px;
    font-size:65px;
    font-family:roboto;
}